@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BlogPost>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "MasterLayout.cshtml";
}

@Umbraco.RenderMacro("Space", new {color="", heigth="63"})

<style>
    .blog-element{
        padding-right:20px;
        padding-left:20px;
    }
    
    a:not(.nav-link):not(.btn):not(.footer-link){
        color: #646464;
        text-decoration-line: underline;
    }
    
    p:not(.medium-normal-text){
        padding-bottom: 1.2rem;  
        margin-bottom: 0px;
    }
    
    li:not(.nav-item){
       padding-bottom: 1.2rem;
    }
    
    ul:not(.navbar-nav) {
        padding-top: 1.2rem;   
    }
    
    ol {
        padding-top: 1.2rem;   
    }
    
    .image-container {
        padding-bottom: 2.2rem;
    }
    
    .blog-image{
        max-width:100%;
        max-height:100%;
    }
    
    .body-container-second:empty{
    }
    
    .body-container-second:not(:empty){
        padding-top: 1.8rem;
    }
    
    /*Selects quote containers without contents and defines that they should have no styling*/
    .quote-container:empty {
    }
    
    /*Selects quote containers with contents and defines that they should have styling*/
    .quote-container:not(:empty){
        padding-top: 2.0rem;
    }
    
    /*Selects quoteAuthor containers with contents and defines that they should have styling*/
    .quoteAuthor-container:not(:empty){
        font-size: 2.2rem;
    }

    .container-responsive {
      width: 100%;
      padding-right: 20px;
      padding-left: 20px;
      margin-right: auto;
      margin-left: auto; }
      @@media (min-width: 576px) {
        .container-responsive {
          max-width: 920px; } }
      @@media (min-width: 768px) {
        .container-responsive {
          max-width: 920px; } }
      @@media (min-width: 992px) {
        .container-responsive {
          max-width: 920px; } }
      @@media (min-width: 1200px) {
        .container-responsive {
          max-width: 920px; } }
</style>

<style>
    .shadow-wrapper{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    top:-80px;
    position:relative;
    max-width: 1140px;
    box-shadow: -5px 0px 50px 15px rgb(0 0 0 / 10%);}
    /*First two media queries are for mobile view*/
    @@media (min-width: 576px) {
        .shadow-wrapper {
          max-width: 920px; } }
    @@media (min-width: 768px) {
        .shadow-wrapper {
          max-width: 920px; } }
    @@media (min-width: 992px) {
        .shadow-wrapper {
          max-width: 920px; } }
    @@media (min-width: 1200px) {
        .shadow-wrapper {
          max-width: 920px;} }
    }
    
</style>

<!-- Headline -->
<style>
   .headline-inner-container{
      line-height: 1.2;
   }
      @@media (max-width: 990px) {
        .headline-inner-container {
          font-size: 4.5rem  } }
      @@media (min-width: 990px) {
        .headline-inner-container {
          font-size: 2.3rem } }
</style>

<!-- Titles -->
<style>
   .title-container{
      line-height: 1.2;
   }
      @@media (max-width: 990px) {
        .title-container {
          font-size: 4rem  } }
      @@media (min-width: 990px) {
        .title-container {
          font-size: 1.8rem } }
</style>

<!-- body text -->
<style>
   .body-container{
      line-height: 1.2;
   }
      @@media (max-width: 990px) {
        .body-container {
          font-size: 3rem  } }
      @@media (min-width: 990px) {
        .body-container {
          font-size: 1.2rem } }
</style>

<!-- Unordered lists -->
<style>
   .unorderedlist-container{
      line-height: 1.2;
   }
      @@media (max-width: 990px) {
        .unorderedlist-container {
          font-size: 3rem  } }
      @@media (min-width: 990px) {
        .unorderedlist-container {
          font-size: 1.2rem } }
</style>

<!-- Unordered lists -->
<style>
   .orderedlist-container{
      line-height: 1.2; }
      @@media (max-width: 990px) {
        .orderedlist-container {
          font-size: 3rem;
          padding-left: 1rem;} }
      @@media (min-width: 990px) {
        .orderedlist-container {
          font-size: 1.2rem;
          padding-left: 1rem; } }
</style>

<!-- Quote  -->
<style>
   .quote-container{
      line-height: 1.2;
   }
      @@media (max-width: 990px) {
        .quote-container {
          font-size: 3.8rem  } }
      @@media (min-width: 990px) {
        .quote-container {
          font-size: 1.5rem } }
</style>

<!-- Quote author -->
<style>
   .quoteAuthor-container{
      line-height: 1.2;
   }
      @@media (max-width: 990px) {
        .quoteAuthor-container {
          font-size: 3rem  } }
      @@media (min-width: 990px) {
        .quoteAuthor-container {
          font-size: 1.4rem !important } }
</style>


<!-- Related articles section -->
<style>
        .blog-card-container{
        background-color: #FFFFFF;
        margin: 1.5rem; /*HERE*/
        max-width: 350px; /*HERE*/
        border-radius:4px 4px 4px 4px;
        position: relative;
        min-height: 450px; /*HERE*/
        }
      @@media (max-width: 990px) {
        .blog-card-container {
            max-width: 800px; 
            border-radius:10px 10px 10px 10px; 
            min-height: 1120px;} }
        
</style>

<!-- Blog cards -->
<style>
    .blog-card-image-container{
        height: 200px; /*HERE*/
        overflow: hidden;
    }
    @@media (max-width: 990px) {
        .blog-card-image-container {
        height: 450px;
        overflow: hidden;
        } }

    .blog-image-related{
        width: 350px;
        border-radius: 4px 4px 0px 0px;
    }
    @@media (max-width: 990px) {
        .blog-image-related {
        min-width: 800px;
        border-radius: 10px 10px 0px 0px;
        } }
</style>

<!-- Blog cards text -->
<style>
    .bl-snip-headline{
        text-align:left;
    }
    @@media (max-width: 990px) {
        .bl-snip-headline {
        padding: 40px 40px 0px 40px !important;
        text-align:left;
    } }

    .bl-snip-body{
        font-size: 1.1rem !important;
        text-align:left;
    }
    @@media (max-width: 990px) {
        .bl-snip-body {
        padding: 40px 40px 0px 40px !important;
        font-size: 2.9rem !important;
        text-align:left;
    } }
    
    .bl-snip-link{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    @@media (max-width: 990px) {
        .bl-snip-link {
        padding: 20px 50px 50px 40px !important;
        font-size: 2.5rem !important;
    } }
</style>

<style>

    .read-more-link{
        text-align: right;
    }
    
    .nav-ele{
        display:inline;
        color: #646464; 
    }
    

</style>

<!-- End of related articles section -->


@Umbraco.RenderMacro("BlogHeader", new {
    image=@Umbraco.Field("headerImageBlog")
})

<div class="shadow-wrapper pb-5">

@Umbraco.RenderMacro("BlogHeadline", new {
    titleColor=@Umbraco.Field("headerTitleColorBlog"),
    title=@Umbraco.Field("headerTitleBlog")
})

@Umbraco.RenderMacro("BlogSection", new {
    index="a",
    visible=@Umbraco.Field("blogPostVisible"),
    titleColor=@Umbraco.Field("titleColorBlog"), 
    title=@Umbraco.Field("titleBlog"), 
    bodyText=@Umbraco.Field("bodyTextBlog"), 
    bulletPointsUnsorted=@Umbraco.Field("bulletPointsUnsortedBlog"), 
    bulletPointsSorted=@Umbraco.Field("bulletPointsSortedBlog"), 
    quoteTextColor=@Umbraco.Field("quoteTextColorBlog"),
    quote=@Umbraco.Field("quote"),
    quoteAuthor=@Umbraco.Field("quoteAuthor"),
    bodyTextSecond=@Umbraco.Field("bodyTextSecondBlog"), 
    image=@Umbraco.Field("imageBlog"), 
    imageLink=@Umbraco.Field("imageLinkBlog"),
    video=@Umbraco.Field("videoBlog")
})

@Umbraco.RenderMacro("BlogSection", new {
    index="b",
    visible=@Umbraco.Field("blogPostVisible2"),
    titleColor=@Umbraco.Field("titleColorBlog2"), 
    title=@Umbraco.Field("titleBlog2"), 
    bodyText=@Umbraco.Field("bodyTextBlog2"), 
    bulletPointsUnsorted=@Umbraco.Field("bulletPointsUnsortedBlog2"), 
    bulletPointsSorted=@Umbraco.Field("bulletPointsSortedBlog2"), 
    quoteTextColor=@Umbraco.Field("quoteTextColorBlog2"),
    quote=@Umbraco.Field("quote2"),
    quoteAuthor=@Umbraco.Field("quoteAuthor2"),
    bodyTextSecond=@Umbraco.Field("bodyTextSecondBlog2"), 
    image=@Umbraco.Field("imageBlog2"), 
    imageLink=@Umbraco.Field("imageLinkBlog2"),
    video=@Umbraco.Field("videoBlog2")
})

@Umbraco.RenderMacro("BlogSection", new {
    index="c",
    visible=@Umbraco.Field("blogPostVisible3"),
    titleColor=@Umbraco.Field("titleColorBlog3"), 
    title=@Umbraco.Field("titleBlog3"), 
    bodyText=@Umbraco.Field("bodyTextBlog3"), 
    bulletPointsUnsorted=@Umbraco.Field("bulletPointsUnsortedBlog3"), 
    bulletPointsSorted=@Umbraco.Field("bulletPointsSortedBlog3"), 
    quoteTextColor=@Umbraco.Field("quoteTextColorBlog3"),
    quote=@Umbraco.Field("quote3"),
    quoteAuthor=@Umbraco.Field("quoteAuthor3"),
    bodyTextSecond=@Umbraco.Field("bodyTextSecondBlog3"), 
    image=@Umbraco.Field("imageBlog3"), 
    imageLink=@Umbraco.Field("imageLinkBlog3"),
    video=@Umbraco.Field("videoBlog3")
})

@Umbraco.RenderMacro("BlogSection", new {
    index="d",
    visible=@Umbraco.Field("blogPostVisible4"),
    titleColor=@Umbraco.Field("titleColorBlog4"), 
    title=@Umbraco.Field("titleBlog4"), 
    bodyText=@Umbraco.Field("bodyTextBlog4"), 
    bulletPointsUnsorted=@Umbraco.Field("bulletPointsUnsortedBlog4"), 
    bulletPointsSorted=@Umbraco.Field("bulletPointsSortedBlog4"), 
    quoteTextColor=@Umbraco.Field("quoteTextColorBlog4"),
    quote=@Umbraco.Field("quote4"),
    quoteAuthor=@Umbraco.Field("quoteAuthor4"),
    bodyTextSecond=@Umbraco.Field("bodyTextSecondBlog4"), 
    image=@Umbraco.Field("imageBlog4"), 
    imageLink=@Umbraco.Field("imageLinkBlog4"),
    video=@Umbraco.Field("videoBlog4")
})

@Umbraco.RenderMacro("BlogSection", new {
    index="e",
    visible=@Umbraco.Field("blogPostVisible5"),
    titleColor=@Umbraco.Field("titleColorBlog5"), 
    title=@Umbraco.Field("titleBlog5"), 
    bodyText=@Umbraco.Field("bodyTextBlog5"), 
    bulletPointsUnsorted=@Umbraco.Field("bulletPointsUnsortedBlog5"), 
    bulletPointsSorted=@Umbraco.Field("bulletPointsSortedBlog5"), 
    quoteTextColor=@Umbraco.Field("quoteTextColorBlog5"),
    quote=@Umbraco.Field("quote5"),
    quoteAuthor=@Umbraco.Field("quoteAuthor5"),    
    bodyTextSecond=@Umbraco.Field("bodyTextSecondBlog5"), 
    image=@Umbraco.Field("imageBlog5"), 
    imageLink=@Umbraco.Field("imageLinkBlog5"),
    video=@Umbraco.Field("videoBlog5")
})

@Umbraco.RenderMacro("BlogSection", new {
    index="f",
    visible=@Umbraco.Field("blogPostVisible6"),
    titleColor=@Umbraco.Field("titleColorBlog6"), 
    title=@Umbraco.Field("titleBlog6"), 
    bodyText=@Umbraco.Field("bodyTextBlog6"), 
    bulletPointsUnsorted=@Umbraco.Field("bulletPointsUnsortedBlog6"), 
    bulletPointsSorted=@Umbraco.Field("bulletPointsSortedBlog6"), 
    quoteTextColor=@Umbraco.Field("quoteTextColorBlog6"),
    quote=@Umbraco.Field("quote6"),
    quoteAuthor=@Umbraco.Field("quoteAuthor6"),
    bodyTextSecond=@Umbraco.Field("bodyTextSecondBlog6"), 
    image=@Umbraco.Field("imageBlog6"), 
    imageLink=@Umbraco.Field("imageLinkBlog6"),
    video=@Umbraco.Field("videoBlog6")
})


@Umbraco.RenderMacro("BlogSection", new {
    index="g",
    visible=@Umbraco.Field("blogPostVisible7"),
    titleColor=@Umbraco.Field("titleColorBlog7"), 
    title=@Umbraco.Field("titleBlog7"), 
    bodyText=@Umbraco.Field("bodyTextBlog7"), 
    bulletPointsUnsorted=@Umbraco.Field("bulletPointsUnsortedBlog7"), 
    bulletPointsSorted=@Umbraco.Field("bulletPointsSortedBlog7"), 
    quoteTextColor=@Umbraco.Field("quoteTextColorBlog7"),
    quote=@Umbraco.Field("quote7"),
    quoteAuthor=@Umbraco.Field("quoteAuthor7"),
    bodyTextSecond=@Umbraco.Field("bodyTextSecondBlog7"), 
    image=@Umbraco.Field("imageBlog7"), 
    imageLink=@Umbraco.Field("imageLinkBlog7"),
    video=@Umbraco.Field("videoBlog7")
})


@Umbraco.RenderMacro("BlogSection", new {
    index="h",
    visible=@Umbraco.Field("blogPostVisible8"),
    titleColor=@Umbraco.Field("titleColorBlog8"), 
    title=@Umbraco.Field("titleBlog8"), 
    bodyText=@Umbraco.Field("bodyTextBlog8"), 
    bulletPointsUnsorted=@Umbraco.Field("bulletPointsUnsortedBlog8"), 
    bulletPointsSorted=@Umbraco.Field("bulletPointsSortedBlog8"), 
    quoteTextColor=@Umbraco.Field("quoteTextColorBlog8"),
    quote=@Umbraco.Field("quote8"),
    quoteAuthor=@Umbraco.Field("quoteAuthor8"),
    bodyTextSecond=@Umbraco.Field("bodyTextSecondBlog8"), 
    image=@Umbraco.Field("imageBlog8"), 
    imageLink=@Umbraco.Field("imageLinkBlog8"),
    video=@Umbraco.Field("videoBlog8")
})


@Umbraco.RenderMacro("BlogSection", new {
    index="i",
    visible=@Umbraco.Field("blogPostVisible9"),
    titleColor=@Umbraco.Field("titleColorBlog9"), 
    title=@Umbraco.Field("titleBlog9"), 
    bodyText=@Umbraco.Field("bodyTextBlog9"), 
    bulletPointsUnsorted=@Umbraco.Field("bulletPointsUnsortedBlog9"), 
    bulletPointsSorted=@Umbraco.Field("bulletPointsSortedBlog9"), 
    quoteTextColor=@Umbraco.Field("quoteTextColorBlog9"),
    quote=@Umbraco.Field("quote9"),
    quoteAuthor=@Umbraco.Field("quoteAuthor9"),
    bodyTextSecond=@Umbraco.Field("bodyTextSecondBlog9"), 
    image=@Umbraco.Field("imageBlog9"), 
    imageLink=@Umbraco.Field("imageLinkBlog9"),
    video=Umbraco.Field("videoBlog9")
})


@Umbraco.RenderMacro("BlogSection", new {
    index="j",
    visible=@Umbraco.Field("blogPostVisible10"),
    titleColor=@Umbraco.Field("titleColorBlog10"), 
    title=@Umbraco.Field("titleBlog10"), 
    bodyText=@Umbraco.Field("bodyTextBlog10"), 
    bulletPointsUnsorted=@Umbraco.Field("bulletPointsUnsortedBlog10"), 
    bulletPointsSorted=@Umbraco.Field("bulletPointsSortedBlog10"), 
    quoteTextColor=@Umbraco.Field("quoteTextColorBlog10"),
    quote=@Umbraco.Field("quote10"),
    quoteAuthor=@Umbraco.Field("quoteAuthor10"),
    bodyTextSecond=@Umbraco.Field("bodyTextSecondBlog10"), 
    image=@Umbraco.Field("imageBlog10"), 
    imageLink=@Umbraco.Field("imageLinkBlog10"),
    video=@Umbraco.Field("videoBlog10")
})

@Umbraco.RenderMacro("Space", new {color="", heigth="70"})

@Umbraco.RenderMacro("BlogCta", new {
    buttonText=@Umbraco.Field("buttonTextBlog"), 
    buttonLink=@Umbraco.Field("buttonLinkBlog"), 
    buttonColor=@Umbraco.Field("buttonColorBlog"), 
    buttonTextColor=@Umbraco.Field("buttonTextColorBlog")
})

</div>

@Umbraco.RenderMacro("RelatedArticles", new {
    visible=@Umbraco.Field("blogPostVisible11")
})


<script>

    var indexes = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"];
    
    //Filtering blog sections to display by the value in visibility toggle 
    for (let i = 0; i < indexes.length; i++){
        if ($(".index-" + indexes[i]).hasClass("d-False") == true ){
            $(".index-" + indexes[i]).css("display", "none");
        }
    }
    
    //Filtering empty image containers to not display 
    for (let i = 0; i < indexes.length; i++){
        if (document.getElementsByClassName('img-index-' + indexes[i])[0].innerHTML.includes("media") == false ){
            $(".img-index-" + indexes[i]).css("display", "none");
        }
    }
    
    if (document.getElementsByClassName('related-articles')[0].innerHTML.includes("d-False") == true){
        $(".related-articles").css("display","none");
    }
    
    
    for (let i = 0; i < 3; i++){
         $(".blog-card-container")[i].classList.add("col-lg")
    }
    


    
</script>


