@inherits Umbraco.Web.Macros.PartialViewMacroPage

<style>
.blog-content-container{
    position: relative; 
    top:-30px;
}
</style>


<div class="container-responsive blog-content-container pr-5 pl-5 index-@Model.MacroParameters["index"] d-@Model.MacroParameters["visible"] style="">
    <div class="title-container blog-element @Model.MacroParameters["titleColor"]">@Html.Raw(Model.MacroParameters["title"])</div>
    <div class="body-container blog-element">@Html.Raw(Model.MacroParameters["bodyText"])</div>
    <div class="unorderedlist-container blog-element">@Html.Raw(Model.MacroParameters["bulletPointsUnsorted"])</div>
    <div class="orderedlist-container blog-element">@Html.Raw(Model.MacroParameters["bulletPointsSorted"])</div>
    <div class="quote-container blog-element @Model.MacroParameters["quoteTextColor"]">@Html.Raw(Model.MacroParameters["quote"])</div>
    <div class="quoteAuthor-container blog-element @Model.MacroParameters["quoteTextColor"]">@Html.Raw(Model.MacroParameters["quoteAuthor"])</div>
    <div class="body-container body-container-second blog-element">@Html.Raw(Model.MacroParameters["bodyTextSecond"])</div>
    <div class="video-container blog-element">@Html.Raw(@Model.MacroParameters["video"])</div>
    <div class="image-container img-index-@Model.MacroParameters["index"] blog-element"><a href="@Model.MacroParameters["imageLink"]"><img class="blog-image pt-3" src=@Umbraco.Media(Model.MacroParameters["image"]).Url></img></a></div>
    <div class="blog-spacer pb-4"></div>
</div>
