@inherits Umbraco.Web.Macros.PartialViewMacroPage

<style>
.padding-what-we-offer-container{
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: "";
    }
    @@media (max-width: 990px) {
        .padding-what-we-offer-container {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 100px;
            padding-bottom: 100px;
    } }
</style>

<style>
/*Text styling*/

    .top-top-title{
        font-size: 2rem;
    }
    @@media (max-width: 990px) {
        .top-top-title{
        padding-left: 10px;
        font-size: 4rem;
    } }
    
    
    .box-h{
        font-size: 1.8rem ;
        font-weight: 500;
        padding-left: 0px !important;
    }
    @@media (max-width: 990px) {
        .box-h {
        font-size: 3.5rem;
        padding-top: 30px;
        padding-left: 1.5rem !important;
    } }
    
    .box-s{
        font-size: 1.1rem;
        line-height: 1.3rem;
        padding-left: 0px !important;
        height: 95px; <!-- To make subtitle box same height independent of text lenght -->
    }
    @@media (max-width: 1150px) {
        .box-s {
        font-size: 0.9rem;
    } }
    @@media (max-width: 990px) {
        .box-s {
        font-size: 1rem;
    } }
    
    .box-b{
        font-size: 1.1rem ;
        margin-bottom: 160px;
        height: 130px;
        color: @Model.MacroParameters["boxBodyAndBtnTextColor"];
    }
    @@media (max-width: 1200px) {
        .box-b {
        font-size: 1rem;
        padding: 0.7rem !important;
    } }
    @@media (max-width: 1150px) {
        .box-b {
        font-size: 0.9rem;
        padding: 0.7rem !important;
    } }
    @@media (max-width: 990px) {
        .box-b {
        font-size: 2.5rem;
        margin-bottom: 0px;
        /*max-height: 0px;*/
        /*height: 0x;*/
        height: auto;
    } }
    
    .box-price{
        font-size: 1.2rem;
        }
        @@media (max-width: 990px) {
            .box-price{ 
            font-size: 2.8rem; 
            margin-bottom: 60px;
    } }  
    

    .button-text-container{
        font-size: 1.3rem;
        padding: 8px;
        margin: 1rem;
    }
    @@media (max-width: 1200px) {
        .button-text-container {
        margin: 0.7rem;
    } }
    @@media (max-width: 1150px) {
        .button-text-container {
        margin: 0.7rem;
    } }
    @@media (max-width: 990px) {
        .button-text-container {
        font-size: 2.5rem;
        max-width: 100%;
        margin-left: 25px;
        margin-right: 25px; 
        padding: 18px;
        /*top: 0px;*/
    } }
    
    
    .box-color-container{
        /*min-height: 330px;*/
        min-height: 350px;
        padding-bottom: 5px;
    }
    @@media (max-width: 990px) {
        .box-color-container {
        height: 250px;
    } }    
    
    .box-body-text-container{
        /*height: 160px;*/
        height: 190px;
    }
    
    #btnWhatWeOffer:hover{
        color:white;
    }
    
    .card-container-pd-cont{
        padding-right: 10px !important; 
        padding-left: 10px !important; 
    }
    

</style>


<style>
    .what-we-offer-desktop {
    }
    @@media (max-width: 991px) {
        .what-we-offer-desktop {
        display: none !important;
    } }
    
    .what-we-offer-mobile {
    }
    @@media (min-width: 990px) {
        .what-we-offer-mobile {
        display: none !important;
    } }
          
</style>

<!-- Styling of tabs on mobile version -->
<style>
    
/* Style the tab */
.tab {
  overflow: hidden;
  /*background-color: #f1f1f1;*/
}

/* Style the buttons inside the tab */
.tab button {
  /*background-color: inherit;*/
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 30px;
  transition: 0.3s;
  font-size: 37px;
  border-right: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  padding-bottom: 30px;
  /*border: 1px solid #ccc;*/
  border-top: none;
  }
    
</style>

<!-- Desktop box module --> 

<div class="padding-what-we-offer-container d-@Model.MacroParameters["visible"]" style="background-color:@Model.MacroParameters["backgroundColor"]">
    
    <div class="top-top-title pb-5" style="color:@Model.MacroParameters["topTitleTextColor"]">@Html.Raw(Model.MacroParameters["title"])</div>
    
    <div class="what-we-offer-desktop">
    

    <div class="row">
        
        <!-- Card 1 -->
        <div class="col-lg-3 card-container-pd-cont">
            <img class="package-icon" src=@Umbraco.Media(Model.MacroParameters["icon1"]).Url >
            <div class="box-h p-2">@Model.MacroParameters["titleBox1"]</div>
            <div class="box-s p-2">@Html.Raw(Model.MacroParameters["subtitleBox1"])</div>
            <div class="box-color-container" style="background-color:@Model.MacroParameters["backgroundColorBox1"]">
                <div class="box-b p-3">
                    <div class="box-body-text-container">@Html.Raw(@Model.MacroParameters["bodytextBox1"])</div>
                    <div class="box-price">@Html.Raw(@Model.MacroParameters["price1"])</div>
                </div>
                    <center>
                        <div class="button-text-container" style="background-color: @Model.MacroParameters["backgroundColorBtn"]">
                            <a href="@Model.MacroParameters["btn1Link"]" id="btnWhatWeOffer">
                                <div style="color:@Model.MacroParameters["boxBodyAndBtnTextColor"]">@Model.MacroParameters["btnText"]</div>
                            </a>
                        </div>
                    </center>
            </div>
        </div>
        
        <!-- Card 2 -->
        <div class="col-lg-3 card-container-pd-cont">
            <img class="package-icon" src=@Umbraco.Media(Model.MacroParameters["icon2"]).Url  >
            <div class="box-h p-2">@Model.MacroParameters["titleBox2"]</div>
            <div class="box-s p-2">@Html.Raw(Model.MacroParameters["subtitleBox2"])</div>
            <div class="box-color-container" style="background-color:@Model.MacroParameters["backgroundColorBox2"]">
               <div class="box-b p-3">
                    <div class="box-body-text-container">@Html.Raw(@Model.MacroParameters["bodytextBox2"])</div>
                    <div class="box-price">@Html.Raw(@Model.MacroParameters["price2"])</div>
                </div>                    
                    <center>
                        <div class="button-text-container" style="background-color: @Model.MacroParameters["backgroundColorBtn2"]">
                            <a href="@Model.MacroParameters["btn2Link"]" id="btnWhatWeOffer">
                                <div style="color:@Model.MacroParameters["boxBodyAndBtnTextColor"]">@Model.MacroParameters["btnText"]</div>
                            </a>
                        </div>
                    </center>
            </div>
        </div>
        
        <!-- Card 3 -->
        <div class="col-lg-3 card-container-pd-cont">
            <img class="package-icon" src=@Umbraco.Media(Model.MacroParameters["icon3"]).Url >
            <div class="box-h p-2">@Model.MacroParameters["titleBox3"]</div>
            <div class="box-s p-2">@Html.Raw(Model.MacroParameters["subtitleBox3"])</div>
            <div class="box-color-container" style="background-color:@Model.MacroParameters["backgroundColorBox3"]">
               <div class="box-b p-3">
                    <div class="box-body-text-container">@Html.Raw(@Model.MacroParameters["bodytextBox3"])</div>
                    <div class="box-price">@Html.Raw(@Model.MacroParameters["price3"])</div>
                </div>                    
                    <center>
                        <div class="button-text-container" style="background-color: @Model.MacroParameters["backgroundColorBtn3"]">
                            <a href="@Model.MacroParameters["btn3Link"]" id="btnWhatWeOffer">
                                <div style="color:@Model.MacroParameters["boxBodyAndBtnTextColor"]">@Model.MacroParameters["btnText"]</div>
                            </a>
                        </div>
                    </center>
            </div>
        </div>
        
        <!-- Card 4 -->
        <div class="col-lg-3 card-container-pd-cont">
            <img class="package-icon" src=@Umbraco.Media(Model.MacroParameters["icon4"]).Url >
            <div class="box-h p-2">@Model.MacroParameters["titleBox4"]</div>
            <div class="box-s p-2">@Html.Raw(Model.MacroParameters["subtitleBox4"])</div>
            <div class="box-color-container" style="background-color:@Model.MacroParameters["backgroundColorBox4"]">
               <div class="box-b p-3">
                    <div class="box-body-text-container">@Html.Raw(@Model.MacroParameters["bodytextBox4"])</div>
                    <div class="box-price">@Html.Raw(@Model.MacroParameters["price"])</div>
                </div>                    
                    <center>
                        <div class="button-text-container" style="background-color: @Model.MacroParameters["backgroundColorBtn4"]">
                            <a href="@Model.MacroParameters["btn4Link"]" id="btnWhatWeOffer">
                                <div style="color:@Model.MacroParameters["boxBodyAndBtnTextColor"]">@Model.MacroParameters["btnText"]</div>
                            </a>
                        </div>
                    </center>
            </div>
        </div>
        
    </div>
    </div>
    
    
    <!-- Mobile tabs module --> 

    
    <div class="what-we-offer-mobile" style="color:white;">
        
        <!-- Icons for mobile view -->
        <div class="row">
            <div class="col-3 pt-3 pr-3 pb-3 pl-4" >
                <img class="package-icon" src=@Umbraco.Media(Model.MacroParameters["icon1"]).Url >
            </div>
            <div class="col-3 pt-3 pr-3 pb-3 pl-3">
                <img class="package-icon" src=@Umbraco.Media(Model.MacroParameters["icon2"]).Url >
            </div>
            <div class="col-3 pt-3 pr-3 pb-3 pl-1">
                <img class="package-icon" src=@Umbraco.Media(Model.MacroParameters["icon3"]).Url >
            </div>
            <div class="col-3 pt-3 pr-3 pb-3" style="left:-30px;">
                <img class="package-icon" src=@Umbraco.Media(Model.MacroParameters["icon4"]).Url >
            </div>
    </div>

        <div class="row tab pl-4 pr-4">
          <button class="col-3 tablinks pt-5 pb-5" onclick="openCity(event, 'Essential')" style="background-color:@Model.MacroParameters["backgroundColorBox1"]; color:white;">@Model.MacroParameters["titleBox1"]</button>
          <button class="col-3 tablinks pt-5 pb-5" onclick="openCity(event, 'Standard')" style="background-color:@Model.MacroParameters["backgroundColorBox2"]; color:white;">@Model.MacroParameters["titleBox2"]</button>
          <button class="col-3 tablinks pt-5 pb-5" onclick="openCity(event, 'Advanced')" style="background-color:@Model.MacroParameters["backgroundColorBox3"];color:white;">@Model.MacroParameters["titleBox3"]</button>
          <button class="col-3 tablinks pt-5 pb-5" onclick="openCity(event, 'Premium')" id="defaultOpen" style="background-color:@Model.MacroParameters["backgroundColorBox4"];color:white;">@Model.MacroParameters["titleBox4"]</button>
        </div>
        
        <div class="tab-indmad-container" style="margin-left: 12px; margin-right: 12px;">
                <div id="Essential" class="tabcontent" style="background-color:@Model.MacroParameters["backgroundColorBox1"]">
                    <div class="box-h pt-5 pr-4 pb-2 pl-4">@Html.Raw(Model.MacroParameters["subtitleBox1"])</div>
                    <div class="box-b pb-4 pl-4 pr-4">@Html.Raw(@Model.MacroParameters["bodytextBox1"])</div>
                    <div class="box-price pb-4 pl-4 pr-4">@Html.Raw(@Model.MacroParameters["price1"])</div>
                      <div style="pb-4">
                        <center>
                            <div class="button-text-container" style="background-color: @Model.MacroParameters["backgroundColorBtn"]">
                                <a href="@Model.MacroParameters["btn1Link"]" id="btnWhatWeOffer">
                                    <div style="color:@Model.MacroParameters["boxBodyAndBtnTextColor"]">@Model.MacroParameters["btnText"]</div>
                                </a>
                            </div>
                        </center>
                      </div> 
                </div>

                <div id="Standard" class="tabcontent" style="background-color:@Model.MacroParameters["backgroundColorBox2"]">
                    <div class="box-h pt-5 pr-4 pb-2 pl-4">@Html.Raw(Model.MacroParameters["subtitleBox2"])</div>
                    <div class="box-b pb-4 pl-4 pr-4">@Html.Raw(@Model.MacroParameters["bodytextBox2"])</div>
                      <div class="box-price pb-4 pl-4 pr-4">@Html.Raw(@Model.MacroParameters["price2"])</div>
                      <div style="pb-4">
                        <center>
                            <div class="button-text-container" style="background-color: @Model.MacroParameters["backgroundColorBtn2"]">
                                <a href="@Model.MacroParameters["btn2Link"]" id="btnWhatWeOffer">
                                    <div style="color:@Model.MacroParameters["boxBodyAndBtnTextColor"]">@Model.MacroParameters["btnText"]</div>
                                </a>
                            </div>
                        </center>
                      </div> 
                </div>

                <div id="Advanced" class="tabcontent" style="background-color:@Model.MacroParameters["backgroundColorBox3"]">
                    <div class="box-h pt-5 pr-4 pb-2 pl-4">@Html.Raw(Model.MacroParameters["subtitleBox3"])</div>
                    <div class="box-b pb-4 pl-4 pr-4">@Html.Raw(@Model.MacroParameters["bodytextBox3"])</div>
                      <div class="box-price pb-4 pl-4 pr-4">@Html.Raw(@Model.MacroParameters["price3"])</div>
                      <div style="pb-4">
                        <center>
                            <div class="button-text-container" style="background-color: @Model.MacroParameters["backgroundColorBtn3"]">
                                <a href="@Model.MacroParameters["btn3Link"]" id="btnWhatWeOffer">
                                    <div style="color:@Model.MacroParameters["boxBodyAndBtnTextColor"]">@Model.MacroParameters["btnText"]</div>
                                </a>
                            </div>
                        </center>
                      </div> 
                </div>

                <div id="Premium" class="tabcontent" style="background-color:@Model.MacroParameters["backgroundColorBox4"]">
                  <div class="box-h pt-5 pr-4 pb-2 pl-4">@Html.Raw(Model.MacroParameters["subtitleBox4"])</div>
                  <div class="box-b pb-4 pl-4 pr-4">@Html.Raw(@Model.MacroParameters["bodytextBox4"])</div>
                  <div class="box-price pb-4 pl-4 pr-4">@Html.Raw(@Model.MacroParameters["price"])</div>
                  <div style="pb-4">
                    <center>
                        <div class="button-text-container" style="background-color: @Model.MacroParameters["backgroundColorBtn4"]">
                            <a href="@Model.MacroParameters["btn4Link"]" id="btnWhatWeOffer">
                                <div style="color:@Model.MacroParameters["boxBodyAndBtnTextColor"]">@Model.MacroParameters["btnText"]</div>
                            </a>
                        </div>
                    </center>
                  </div> 
                </div>
            </div>

    </div>
    
</div>

<script>
if (document.getElementsByClassName('padding-what-we-offer-container')[0].classList.contains("d-False")){
    $(".padding-what-we-offer-container").css("display","none");
}


if (document.getElementsByClassName('padding-what-we-offer-container')[0].classList.contains("d-True") && screen.width < 991){
    $(".title-container-pricing-unique")[0].style.marginLeft = "45px"
}



function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

</script>
